@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-brand: #c1001c;
	--color-cream: #fffff7;
	--color-cream-border: #ddd7cf;
}

 @utility font-vina {
  font-family: 'Vina Sans', sans-serif;
}